# Défi EGC 2024: Etude de correlation entre le bitcoin et les cours des banques

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf
import numpy as np

Ici c'est l'intro .... bla bla bla, p-e parler de l'actu, krach de svb

In [3]:
DATA_DOWNLOADED = True
BANK_SYMBOLS = ['000001.SZ','0011.HK','024110.KS','0440.HK','1010.SR','1023.KL','1050.SR','1060.SR','1080.SR','1120.SR','1140.SR','1150.SR','1180.SR','1398.HK','2016.HK','2356.HK','2388.HK','2801.TW','2880.TW','2881.TW','2882.TW','2883.TW','2884.TW','2885.TW','2886.TW','2887.TW','2890.TW','2891.TW','2892.TW','3618.HK','3968.HK','5819.KL','5876.TW','5880.TW','600000.SS','600015.SS','600016.SS','600030.SS','600919.SS','601009.SS','601166.SS','601169.SS','601211.SS','601229.SS','601288.SS','601328.SS','601818.SS','601939.SS','601988.SS','601998.SS','7182.T','8308.T','8421.T','8601.T','A5G.IR','ABN.AS','ABSP.JO','ACA.PA','ACNB','AKTIA.HE','ALLY','ALRS','AMNB','ANZ.AX','AROW','ATLO','AXISBANK.BO','BAC','BAER.SW','BAMI.MI','BANC','BANKBARODA.NS','BAP','BBAR','BBAS3.SA','BBCA.JK','BBD','BBL.BK','BBNI.JK','BBRI.JK','BBVA','BCBP','BCH','BCI.SN','BCML','BCS','BCVN.SW','BDOUY','BFC','BFIN','BHB','BHLB','BIRG.IR','BK','BKT.MC','BLX','BMED.MI','BMO','BMRC','BMRI.JK','BNP.PA','BNS','BOKF','BRKL','BSAC','BSBR','BSLI3.SA','BSMX','BSRR','BUSE','BWFG','C','CABK.MC','CAC','CANBK.NS','CARV','CASH','CATC','CBA.AX','CBK.F','CBSH','CCBG','CCNE','CFFI','CFFN','CFG','CHBAY','CIB','CIN.F','CIVB','CM','CNOB','COF','COLB','CPF','CPI.JO','CSTR','CTBI','CUB.NS','CUBI','CVCY','CVLY','CZNC','D05.SI','DANS.VI','DB','DCOM','DSY.JO','EBO.F','EBTC','EGBN','EQBK','ESSA','EUROB.AT','EVBN','EWBC','FBIZ','FBMS','FCF','FCNCA','FFIC','FFWM','FGBI','FHN','FISI','FITB','FMAO','FMBH','FNLC','FNWB','FRBK','FSR.JO','GABC','GARAN.IS','GBCI','GCBC','GHL','GLE.PA','GNTY','GS','GSBC','HAFC','HBAN','HBCP','HBNC','HDB','HDFC.NS','HFWA','HIFS','HMST','HONE','HOPE','HSBC','HTBI','HTBK','HWBK','IBN','IDBI.NS','INDUSINDBK.NS','ING','IOB.NS','ISCTR.IS','ISP.MI','ISTR','ITUB','IX','JEF','JPM','JYSK.CO','KARURVYSYA.NS','KB','KBANK.BK','KEY','KOMB.PR','KOTAKBANK.NS','KRNY','KTKBANK.NS','LB.TO','LBAI','LMST','LOB','LUMI.TA','LYG','MAYA.JK','MB.MI','MBCN','MBWM','MCBC','MFG','MLVF','MLYBY','MNSB','MOFG','MQG.AX','MS','MTB','MTPOF','MUFG','MVBF','MZTF.TA','NA.TO','NAB.AX','NBHC','NBN','NDA-FI.HE','NED.JO','NFBK','NIC','NRIM','NWG','O39.SI','OBT','OCFC','OFG','OPBK','OPOF','OPY','ORRF','OSBC','OTP.BD','OVBC','PBB.DE','PEBK','PEBO','PEO.WA','PFBC','PFC','PFIS','PGC','PKBK','PKO.WA','PLBC','PNB.NS','PNC','POLI.TA','PROV','PTRS','PVBC','PWOD','QCRH','QNBFB.IS','RAW.F','RBCAA','RBLBANK.NS','RVSB','RY','SAB.MC','SAL','SAN','SASR','SBER.ME','SBIN.NS','SBK.JO','SBSI','SCHW','SEB-A.ST','SFST','SHB-A.ST','SHBI','SIVB','SMBC','SMBK','SMFG','SOUTHBANK.NS','SPL.WA','SPOL.OL','SRCE','SSB','STAN.L','STBA','STT','SUN.AX','SUPV','SWED-A.ST','TBNK','TD','TFC','TFIN','TMP','TRST','TSBK','U11.SI','UBS','UBSI','UCG.MI','UNB','UNIONBANK.NS','UNTY','USB','VABK','VBTX','VLK.AS','WASH','WBC.AX','WBS','WF','WFC','WMPN','WNEB','YESBANK.NS','ZION']

In [4]:
# downloading banks data

if not DATA_DOWNLOADED:
    tickers_data= {}
    for symbol in BANK_SYMBOLS:
        ticker_object = yf.Ticker(symbol)

        ticker_historical = ticker_object.history(start="2015-01-01", end="2017-06-30", interval="1d")
        # exchange symbol (country)
        ticker_historical['Exchange'] = ticker_object.fast_info.get('exchange')

        tickers_data[symbol] = ticker_historical
    # saving to file
    banks_data = pd.concat(tickers_data, sort=False)
    banks_data.to_csv('banks_data.csv', index_label=['Symbol', 'Date'])
# data already dowloaded
else:
    banks_data = pd.read_csv('banks_data.csv')

banks_data

,Symbol,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Exchange
0,000001.SZ,2015-01-05 00:00:00+08:00,10.141490,10.331881,9.900328,10.166876,411902845,0.0,0.0,SHZ
1,000001.SZ,2015-01-06 00:00:00+08:00,10.058987,10.401690,9.868596,10.014563,311964681,0.0,0.0,SHZ
2,000001.SZ,2015-01-07 00:00:00+08:00,9.874944,10.046296,9.709938,9.824173,244817376,0.0,0.0,SHZ
3,000001.SZ,2015-01-08 00:00:00+08:00,9.836865,9.881290,9.456084,9.494162,202710846,0.0,0.0,SHZ
4,000001.SZ,2015-01-09 00:00:00+08:00,9.456085,10.071682,9.335503,9.570319,361224033,0.0,0.0,SHZ
...,...,...,...,...,...,...,...,...,...,...
208088,ZION,2017-06-23 00:00:00-04:00,36.640443,36.846869,35.978166,36.064175,2095900,0.0,0.0,NMS
208089,ZION,2017-06-26 00:00:00-04:00,36.175985,36.640439,36.038368,36.416813,1468500,0.0,0.0,NMS
208090,ZION,2017-06-27 00:00:00-04:00,36.606032,37.053286,36.554424,36.588829,2057500,0.0,0.0,NMS
208091,ZION,2017-06-28 00:00:00-04:00,36.795254,37.405930,36.795254,36.958675,3828500,0.0,0.0,NMS
208092,ZION,2017-06-29 00:00:00-04:00,38.197233,38.575678,37.311327,37.835991,4443800,0.0,0.0,NMS

In [5]:
# get unique exchanges

print(banks_data['Exchange'].unique())
print(len(banks_data['Exchange'].unique()))

['SHZ' 'HKG' 'KSC' 'SAU' 'KLS' 'TAI' 'SHH' 'JPX' 'ISE' 'AMS' 'JNB' 'PAR'
 'NCM' 'HEL' 'NYQ' 'NMS' 'ASX' 'BSE' 'EBS' 'MIL' 'NSI' 'SAO' 'JKT' 'SET'
 'NGM' 'SGO' 'PNK' 'ASE' 'MCE' 'FRA' 'SES' 'VIE' 'ATH' 'IST' 'CPH' 'PRA'
 'TOR' 'TLV' 'BUD' 'GER' 'WSE' 'MCX' 'STO' 'OSL' 'LSE']
45

In [27]:
# getting names of exchanges

exchange_codes = pd.read_csv('exchange_codes.csv')
exchange_codes

    code                                               name
0    ASE                            American Stock Exchange
1    NYS                            New York Stock Exchange
2    BOS                              Boston Stock Exchange
3    CIN  National Stock Exchange (formerly Cincinnati S...
4    PSE                                          NYSE Arca
..   ...                                                ...
771  BGC                                       BGC Partners
772  EDX               European Energy Derivatives Exchange
773  GME                          Gestore Mercato Elettrico
774  FMC                               Forward Market Curve
775  OCN                                      OCEAN CONNECT

[776 rows x 2 columns]

Maintenant on veut associer chaque exchange a un pays/region dans le monde

In [6]:
# print blockchain actors + the whole dataframe

blockchain_by_actors = pd.read_csv('egc2024/timeseries/blockchain_by_actor.csv')
unique_identity = blockchain_by_actors['identity'].unique()
print('Unique actors :', unique_identity)
blockchain_by_actors.sort_values('sum_fee', ascending=False)

Unique actors : ['HappyCoins.com' '821' 'FortuneJack.com' '396' 'SatoshiMines.com' '0'
 '641' 'Rollin.io' 'SatoshiDice.com' 'Loanbase.com' 'Bitstamp.net' '289'
 'Paymium.com' '417' 'YoBit.net' 'FYBSG.com' '1391' '101' 'Poloniex.com'
 '469' '61400549' 'Bitbond.com' 'ePay.info_CoinJoinMess' '70063369'
 '71842975' 'HolyTransaction.com' '107' '16621' '5162' '61'
 'SlushPool.com' 'BTCJam.com' 'Matbea.com' '18972' 'TheRockTrading.com'
 'Huobi.com' 'HaoBTC.com' 'SafeDice.com' 'CoinSpot.com.au' '1805' '1138'
 'CoinMotion.com' 'Xapo.com' '898' 'CoinGaming.io' 'OKCoin.com'
 'BitZillions.com' '175' '523' 'SecondsTrade.com' 'BitcoinFog'
 '999Dice.com' 'BX.in.th' 'SimpleCoin.cz' '7277' '227' 'BTC-e.com'
 'PocketDice.io' '348' '73832915' '72472408' 'BitBargain.co.uk' 'Bter.com'
 '269' '35' '74304487' '69383113' '71554939' '57' 'BtcTrade.com' '421'
 'Cryptonator.com' 'BTCC.com' '1149' 'CoinPayments.net' 'CoinCafe.com'
 '1226' 'CoinTrader.net_LocalBitcoins.com' 'LuckyB.it' '154'
 'MercadoBitcoin.com.br' '73963652' 'Bitcoin.de' '16768780' 'CoinJar.com'
 '70927660' '74278522' '69697250' '871' '1070' '122' 'Bit-x.com'
 '69827719' '69984672' '700' '1567' '419' '292' 'Vaultoro.com' '354']

,Unnamed: 0,year,month,day,identity,received,nb_received,date,sum_fee,mean_fee_for100,nb_transactions,sent,self_spent,self_spent_estimated,nb_spent,spent
87780,87780,2017.0,6.0,3.0,0,2.294656e+11,55451.0,2017-06-03,9.846782e+09,13.852763,14966.0,2.547755e+11,0.0,4.203257e+09,29953.0,2.505723e+11
86055,86055,2017.0,5.0,16.0,0,4.629470e+11,42762.0,2017-05-16,8.211971e+09,9.361900,15555.0,5.106090e+11,0.0,9.189384e+10,31156.0,4.187151e+11
87825,87825,2017.0,6.0,4.0,0,3.788310e+11,45153.0,2017-06-04,5.050698e+09,17.893275,9305.0,3.646738e+11,0.0,1.678696e+10,18689.0,3.478868e+11
86067,86067,2017.0,5.0,17.0,0,6.804229e+11,39919.0,2017-05-17,4.703641e+09,14.229968,10965.0,1.262485e+12,0.0,7.723447e+11,21990.0,4.901406e+11
65952,65952,2016.0,10.0,26.0,0,1.889966e+11,26646.0,2016-10-26,4.626686e+09,20.035857,10440.0,1.965702e+11,0.0,5.000000e+10,19858.0,1.465702e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69898,69898,2016.0,12.0,5.0,BTCC.com,1.557296e+11,245.0,2016-12-05,0.000000e+00,0.000000,27.0,1.542547e+11,0.0,1.275408e+11,27.0,2.671397e+10
24434,24434,2015.0,9.0,6.0,TheRockTrading.com,1.102538e+08,12.0,2015-09-06,0.000000e+00,0.000000,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
88777,88777,2017.0,6.0,14.0,FortuneJack.com,2.844241e+06,6.0,2017-06-14,0.000000e+00,0.000000,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
15626,15626,2015.0,6.0,10.0,BTC-e.com,7.716968e+11,1979.0,2015-06-10,0.000000e+00,0.000000,53.0,8.008720e+11,0.0,4.051353e+11,53.0,3.957368e+11
58387,58387,2016.0,8.0,11.0,BTCC.com,5.882725e+10,207.0,2016-08-11,0.000000e+00,0.000000,22.0,6.088589e+10,0.0,2.258392e+10,22.0,3.830197e+10

In [11]:
# checking data for one actor

fortune_jack = blockchain_by_actors.loc[blockchain_by_actors['identity'] == 'FortuneJack.com']
fortune_jack

,Unnamed: 0,year,month,day,identity,received,nb_received,date,sum_fee,mean_fee_for100,nb_transactions,sent,self_spent,self_spent_estimated,nb_spent,spent
2,2,2015.0,1.0,1.0,FortuneJack.com,120146986.0,29.0,2015-01-01,83000.0,0.194670,11.0,154112733.0,14158970.0,14158970.0,22.0,139953763.0
89,89,2015.0,1.0,2.0,FortuneJack.com,216192314.0,59.0,2015-01-02,181000.0,0.287037,19.0,125916668.0,14752321.0,14752321.0,38.0,111164347.0
210,210,2015.0,1.0,3.0,FortuneJack.com,266673798.0,37.0,2015-01-03,91000.0,0.243677,9.0,121278710.0,9665230.0,9665230.0,18.0,111613480.0
341,341,2015.0,1.0,4.0,FortuneJack.com,111336033.0,44.0,2015-01-04,111000.0,0.280506,12.0,96478047.0,11061084.0,11061084.0,24.0,85416963.0
448,448,2015.0,1.0,5.0,FortuneJack.com,353420997.0,50.0,2015-01-05,93000.0,0.270032,10.0,296693228.0,9197824.0,9197824.0,20.0,287495404.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89927,89927,2017.0,6.0,26.0,FortuneJack.com,2390000.0,4.0,2017-06-26,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
90030,90030,2017.0,6.0,27.0,FortuneJack.com,13081447.0,7.0,2017-06-27,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
90067,90067,2017.0,6.0,28.0,FortuneJack.com,1392051.0,3.0,2017-06-28,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
90215,90215,2017.0,6.0,29.0,FortuneJack.com,7452628.0,6.0,2017-06-29,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
90269,90269,2017.0,6.0,30.0,FortuneJack.com,21464278.0,5.0,2017-06-30,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# count anonymous actors
anons = [identity for identity in unique_identity if identity.isdigit()]
print(anons)
print('anons size :', len(anons))
not_anons = [identity for identity in unique_identity if not identity.isdigit()]
print(not_anons)
print('size :', len(not_anons))

['821', '396', '0', '641', '289', '417', '1391', '101', '469', '61400549', '70063369', '71842975', '107', '16621', '5162', '61', '18972', '1805', '1138', '898', '175', '523', '7277', '227', '348', '73832915', '72472408', '269', '35', '74304487', '69383113', '71554939', '57', '421', '1149', '1226', '154', '73963652', '16768780', '70927660', '74278522', '69697250', '871', '1070', '122', '69827719', '69984672', '700', '1567', '419', '292', '354']
anons size : 52
['HappyCoins.com', 'FortuneJack.com', 'SatoshiMines.com', 'Rollin.io', 'SatoshiDice.com', 'Loanbase.com', 'Bitstamp.net', 'Paymium.com', 'YoBit.net', 'FYBSG.com', 'Poloniex.com', 'Bitbond.com', 'ePay.info_CoinJoinMess', 'HolyTransaction.com', 'SlushPool.com', 'BTCJam.com', 'Matbea.com', 'TheRockTrading.com', 'Huobi.com', 'HaoBTC.com', 'SafeDice.com', 'CoinSpot.com.au', 'CoinMotion.com', 'Xapo.com', 'CoinGaming.io', 'OKCoin.com', 'BitZillions.com', 'SecondsTrade.com', 'BitcoinFog', '999Dice.com', 'BX.in.th', 'SimpleCoin.cz', 'BTC-e.com', 'PocketDice.io', 'BitBargain.co.uk', 'Bter.com', 'BtcTrade.com', 'Cryptonator.com', 'BTCC.com', 'CoinPayments.net', 'CoinCafe.com', 'CoinTrader.net_LocalBitcoins.com', 'LuckyB.it', 'MercadoBitcoin.com.br', 'Bitcoin.de', 'CoinJar.com', 'Bit-x.com', 'Vaultoro.com']
size : 48

Un peu plus de la moitie des 100 acteurs ayany la plus grande activite sont anonymes, il faudrait etudier tout ca et les relier a un pays/region dans le monde. Peut-etre meme les asscocier a plusieurs pays. Associer les acteurs non anonymyses a des pays egalement.